include *.md
include .pre-commit-hooks.yaml
include CITATION
include LICENSE
include Makefile
include changelog.txt
include docker-compose.yml
include environment.yml
include kglab/*.py
include kglab/query/*.py
include pylintrc
include requirements-dev.txt
include requirements-tut.txt
include requirements.txt
include sample.py
include setup.py
prune dat
prune bin
prune docker
prune docs
prune scripts
prune tests
prune wip
prune .ipynb_checkpoints
prune examples
exclude codecov.yml
exclude lgtm.yml
exclude meta.yaml
exclude mkdocs.yml