include *.md
include CITATION
include LICENSE
include Makefile
include changelog.txt
include docker-compose.yml
include environment.yml
include kglab/*.py
include kglab/query/*.py
include poetry.lock
include pylintrc
include pyproject.toml
include sample.py
prune archive
prune bin
prune dat
prune docker
prune docs
prune examples
prune scripts
prune tests
prune .ipynb_checkpoints
exclude codecov.yml
exclude lgtm.yml
exclude meta.yaml
exclude mkdocs.yml