gensim >= 3.8.3
grave >= 0.0.3
matplotlib >= 3.2.1
networkx >= 2.5
numpy >= 1.19.4
pandas >= 1.1.1
pslpython >= 2.2.2
pyarrow >= 2.0.0
python-dateutil >= 2.8.0
pylev >= 1.3.0
pyvis >= 0.1.7.0
rdflib >= 4.2.2
rdflib-jsonld >= 0.4.0
torch >= 1.7.0
