bandit
codespell
coverage
flask
grayskull
jupyterlab >= 3.1.4
mkdocs-git-revision-date-plugin
mkdocs-material
mknotebooks
mypy
nbconvert
notebook >= 6.1.5
pipdeptree
pre-commit
pygments >= 2.7.4
pylint >= 2.7.0
pymdown-extensions
pytest
selenium
twine
wheel
